*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Botones button{
    background-color: rgb(90, 90, 90);
    color:black;
    text-align: center;
    border: none;
    display: inline-block;
    width: 25vw;
    height: 15vh;
    margin-top: 2vh;
    margin: 0.5vw;
    cursor: pointer;
}
.Primero{
    margin-left: 34vw;
    margin-bottom: 5vh;
}
.Segundo{
    margin-left: 21vw;
    margin-bottom: 5vh;
}
.Tercero{
    margin-left: 21vw;
}
.Logo_Home{
    margin-left: 8vw;
    margin-bottom: 2vh;
    width: 60vw;
    height: 30vh;
}
.Link{
    color:rgb(209, 208, 208);
    text-decoration: none;
}
.Titulo{
    text-align: center;
    font-size: 60px;
}
.Titulo_Pasos{
    font-size: 60px;
    margin-left: 30vw;
}
.Logo{
    width: 15vw;
    height: 20vh;
}
.Logotipo{
    width: 20vw;
    height: 15vh;
}
.Producto_Tipos{
    margin-left: 10vw;
    width: 80vw;
    height: 15vh;
    background-color: rgb(110, 110, 110);
    display: flex;
    line-height: 7vw;
    margin-bottom: 2vh;
    cursor: pointer;
}
.Producto_Tipos img{
    margin-right: 10vw;
}
.Nombre_Producto{
    margin-right: 40vw;
}
.ImagenProducto{
    width: 10vw;
    height: 15vh;
}
.Añadir_Producto{
    margin-left: 83vw;
    padding: 2vw;
    border-radius: 6vw;
    background-color:rgb(192, 190, 190);
}
.Añadir_Producto a{
    width: 2.5vw;
    height: 2.5vh;
    display: inline-block;
}
.Texto_Link{
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.Display{
    margin-left: 25vw;
    margin-bottom: 5vh;
}
.Aceptar{
    margin-left: 35vw;
    width: 25vw;
    height: 15vh;
}
.Input_Login_Signin{
    margin-bottom: 3vh;
    width: 42svw;
    height: 10vh;
    font-size: 30px;
}
.Titulo_Login_Signin{
    margin-left: 40vw;
    font-size: 45px;
}
.Pasos{
    display:flex;
}
.Paso{
    margin-left: 17vw;
    margin-bottom: 3vh;
}
.Producto_Que_Es{
    margin-left: 50vw;
}
.ImagenProductoDescripcion{
    width: 15vw;
    height: 25vh;
    margin-bottom: 4vh;
}
.nav{
    display: flex;
    gap: 5vw;
    margin-bottom: 5vh;
    background-color: rgb(194, 195, 196);
}
.Ya_Estas_Aca{
    background-color: rgb(190, 189, 186);
}
.Textitos{
    display:flex;
    margin-bottom: 2vh;
    margin-left: 52vw;
    gap: 5vw;
}
.Material_Para_Calcu{
    background-color: rgb(110, 110, 110);
    display: flex;
    margin-left: 20vw;
    width: 75vw;
    height: 15vh;
    line-height: 7vw;
    margin-bottom: 2vh;
}
.Material_Para_Calcu img{
    margin-right: 3vw;
}
.Material_Producto{
    margin-right: 13vw;
}
.Textititos{
    display: flex;
    gap: 0.5vw;
    margin-top: 28vh;
    margin-left: 12vw;
}
.Calcu_Presu_Abajo{
    display: flex;
}
.Crear_Presupuesto{
    width: 22vw;
    height: 7vh;
    margin-top: 27vh;
    margin-left: 40vw;
    border-radius: 25px;
}
.Seleccionar_Cantidad{
    display: flex;
    gap: 2vw;
    margin-left: 20vw;
    margin-bottom: 10vh;
}
.Seleccionar{
    font-size: 20px;
}
.Precio_Para_Calcu{
    display: flex;
    background-color: rgb(110, 110, 110);
    margin-left: 12vw;
    width: 85vw;
    line-height: 7vw;
    margin-bottom: 2vh;
}
.Precio_Producto{
    margin-right: 10vw;
}
.Precio_Para_Calcu img{
    margin-right: 2vw;
}
.Textos{
    display: flex;
    margin-left: 42vw;
    gap: 5vw;
}
.Calcu_Precio_Abajo{
    display: flex;
    margin-top: 18vh;
}
.Volver_Materiales{
    border-radius: 15px;
    width: 22vw;
}
.Textitititos{
    display: flex;
    gap: 2vw;
    margin-left: 55vw;
}
.Otros_Textos{
    display: flex;
    margin-left: 25vw;
    gap: 15vw;
}
.Primera_Linea{
    display: flex;
    background-color: rgb(110, 110, 110);
    gap: 3vw;
    line-height: 7vw;
    margin-right: 7vw;
    width: 50vw;
}
.Material_Texto{
    margin-right: 11vw;
}
.Materiales_Para_Calcu{
    display: flex;
    margin-left: 15vw;
    margin-bottom: 2vh;
}
.Segunda_Linea{
    background-color: rgb(110, 110, 110);
    line-height: 7vw;
    width: 25vw;
}
.Segunda_Linea input{
    height: 11vh;
    width: 15vw;
    margin-left: 5vw;
    margin-right: 8vw;
    font-size: 25px;
}
.Textititititos{
    display: flex;
    gap: 2vw;
    margin-top: 15vh;
    margin-left: 45vw;
}
.Total_Precio{
    margin-right: 8vw;
}
.Titulo_Pasos_2{
    font-size: 60px;
    margin-left: 20vw;
}
.Otro_Paso{
    margin-left: 12vw;
    margin-bottom: 3vh;
}

.Guia{
    width: 10vw;
    height: 100%;
    background-color: rgb(110, 110, 110);
    float: left;
}
.Boton_Aside{
    margin: 2vw;
    margin-bottom: 0.5vh;
    border: none;
}
.ImagenAside{
    width: 5vw;
    height: 10vh;
}
.LogoAside{
    width: 7vw;
    height: 12vh;
    margin: 1vw;
}

.Cuadrito_Creacion{
    width: 43vw;
    height: 72vh;
    background-color: rgb(110, 110, 110);
    margin-left: 30vw;
}
.Texto_Centrado{
    text-align: center;
    padding: 9vw;
    width: 50vw;
    margin-left: -3vw;
    font-size: 30px;
}
.Boton_Creacion_1{
    width: 25vw;
    height: 10vh;
    margin-left: 9vw;
}
.Texto_Creacion{
    width: 45vw;
    text-align: center;
    margin-left: 28vw;
}
.Tipo_Emprendimiento{
    text-align: center;
    width: 12vw;
    height: 20vh;
    background-color: rgb(110, 110, 110);
}
.Primera_Fila{
    display: flex;
    margin-left: 37vw;
    margin-top: 10vh;
    gap: 5vw;
    margin-bottom: 2vh;
}
.Segunda_Fila{
    display: flex;
    margin-left: 37vw;
    margin-top: 10vh;
    gap: 5vw;
    margin-bottom: 2vh;
}
.Separacion_Productos{
    display: flex;
    gap: 5vw;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.Producto{
    width: 12vw;
    height: 25vh;
    background-color: rgb(110, 110, 110);
}
.Texto_Creacion_3{
    text-align: center;
    margin-bottom: 1vh;
}
.ImagenCreacion3{
    margin-left: 1vw;
    width: 10vw;
    height: 15vh;
}
.Boton_Creacion_3{
    width: 15vw;
    height: 7vh;
    margin-left: 42vw;
}
.Boton_Creacion_4{
    width: 18vw;
    height: 10vh;
    margin-left: 2vw;
}
.Tip{
    width: 25vw;
    height: 20vh;
    background-color: rgb(110, 110, 110);
}
.Texto_Creacion_5{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
.Botones_Si_No{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.Boton_Creacion_5{
    width: 18vw;
    height: 10vh;
}
.Texto_Cuadro_Tip{
    width: 35vw;
    height: 60vh;
    background-color: rgb(110, 110, 110);
    margin-left: 35vw;
}
.Texto_Creacion_6{
    font-size: 25px;
    margin-left: 2vw;
}
.Textito_Creacion_6{
    margin-bottom: 2vh;
    margin-left: 2vw;
    font-size: 20px;
}
.Boton_Creacion_6{
    width: 12vw;
    height: 6vh;
    margin-left: 11vw;
    margin-top: 5vh;
}
.Cuadro_Creacion_7{
    width: 45vw;
    height: 65vh;
    background-color: rgb(110, 110, 110);
    margin-left: 30vw;
    margin-top: 5vh;
}
.Texto_Creacion_7{
    width: 45vw;
    text-align: center;
    margin-top: 10vh;
}
.Input_Creacion_7{
    width: 40vw;
    height: 10vh;
    font-size: 20px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 11vh;
    margin-left: 3vw;
}
.Boton_Creacion_7{
    width: 18vw;
    height: 10vh;
    margin-left: 13.5vw;
}




.Botones_Mk{
    margin-left: 25vw;
    margin-bottom: 2vh;
    margin-top: 25vh;
}
.Botones_Mk_2{
    margin-left: 25vw;
    margin-top: 5vh;
}
.Contacto{
    background-color: rgb(110, 110, 110);
    width: 40vw;
    height: 15vh;
    display: flex;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    align-items: center;
}
.Nombre_Contacto{
    text-align: left;
    align-self: left;
}
.Telefono_Mail{
    margin-right: 2vw;
    text-align: right;
    align-self: right;
}
.Contactos{
    display: flex;
}
.Añadir_Contacto{
    padding: 2vw;
    border-radius: 4vw;
    background-color:rgb(192, 190, 190);
    margin-left: 10vw;
    margin-top: 2vh;
}